{{!-- <h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p> --}}

<header class="row text-center mt-5 mb-5">
  <div class="col">
    <h1>Welcome to Music Event Platform</h1>
    <p>
      In this platform, you can find or even create an Event!
    </p>
    <div>
      <a href="/Rock" class="btn btn-primary">Rock</a>
      <a href="/Jazz" class="btn btn-secondary">Jazz</a>
      <a href="/Pop" class="btn btn-success">Pop</a>
      <a href="/Blues" class="btn btn-danger">Blues</a>

    </div>
  </div>
</header>