{{!-- <h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p> --}}

<header class="row text-center mt-5 mb-5">
    <div class="col">
        <h1>Welcome to Music Event Platform</h1>
        <p>
            In this platform, you can find or even create an Event!
        </p>
        <div>
            <button type="button" class="btn btn-primary">Rock</button>
            <button type="button" class="btn btn-secondary">Jazz</button>
            <button type="button" class="btn btn-success">Pop</button>
            <button type="button" class="btn btn-danger">Blues</button>
        </div>
    </div>
</header>