body {
  padding: 20px;
  font-family: 'RocknRoll One', sans-serif;
  background: rgb(120,52,52);
  background: radial-gradient(circle, rgba(120,52,52,1) 0%, rgba(41,25,25,1) 50%, rgba(15,15,15,1) 100%);
}
img {
  max-width: 70%;
  height: auto;
  display: block;
  margin: 0 auto;
}
h1 {
  color: rgba(255, 0, 0, 0.8);
  font-size: 46px;
  border-bottom: 5px solid rgba(255, 0, 0, 0.3);
}
.home-page-brand img {
  width: 40px;
}
.home-page-brand {
  border-bottom: 2px solid black;
}
.home-page-brand:hover{
  border-bottom: 2px solid rgba(255, 0, 0, 0.3);
  transition: ease-in-out 0.3s;
  color: rgba(255, 0, 0, 0.8);
}
.login-btn {
  color: #c8cbcf;
}
 .login-btn:hover{
  transition: ease-in-out 0.3s;
  color: rgba(255, 0, 0, 0.8);
 }
 .light-font {
  color: #f7f2ef
 }
 .list-card {
   background-color: #e9ecef;
   border: 1px solid rgba(255, 0, 0, 0.3)
 }
 .list-card:hover {
  box-shadow: 0 20px 60px 0 rgba(255, 0, 0, 0.8);
  -webkit-transform: translate(0,-10px);
  transform: translate(0,-10px);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.footer img {
  width: 40px;
  display: inline;
  margin-left: 10px;
} 
.footer {
  border-top: 5px solid rgba(255, 0, 0, 0.3);
}